@model MapaViewModel

@{
    ViewData["Title"] = "Mapa";
}

<html>
<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=GOOGLE_MAPS_API_KEY_AQUI"></script>
</head>
<body onload="ExibirGoogleMaps()">
    <div id="mapDiv" style="width:100%;height:600px;"></div>
    <script type="text/javascript">

        function ExibirGoogleMaps() {
            var map = MonteOMapa('@Model.LatitudeCentral', '@Model.LongitudeCentral');

            @foreach (var item in Model.EstacoesRecarga)
            {
                @:AdicioneMarker('@item.Latitude', '@item.Longitude', '@Html.Raw(@item.Titulo)', '@item.Icone', map);
            }

        }

        function AdicioneMarker(latitude, longitude, titulo, icone, map) {
            var latLng = new google.maps.LatLng(latitude, longitude);
            var marker = new google.maps.Marker({
                position: latLng,
                title: titulo,
                icon: icone
            });
            marker.setMap(map);
        }

        function MonteOMapa(latitude, longitude) {
            var pontoCentral = new google.maps.LatLng(latitude, longitude);
            var mapOptions = {
                center: pontoCentral,
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("mapDiv"), mapOptions);
            return map;
        }

    </script>
</body>
</html>
