@model List<EstacoesDeCargaViewModel>

@{
    ViewData["Title"] = "Mapa";
}

<html>
<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=Google_maps_api_key_aqui"></script>
</head>
<body onload="ExibirGoogleMaps()">
    <div id="mapDiv" style="width:100%;height:600px;"></div>
    <script type="text/javascript">

        function ExibirGoogleMaps() {
            var map = MonteOMapa();

            @foreach (var item in Model)
            {
                @:AddMarker('@item.Latitude', '@item.Longitude', '@Html.Raw(@item.Titulo)', '@item.Icone', map);
            }

        }

        function AddMarker(latitude, longitude, title, icone, map) {
            var latLng = new google.maps.LatLng(latitude, longitude);
            var marker = new google.maps.Marker({
                position: latLng,
                title: title,
                icon: icone
            });
            marker.setMap(map);
        }

        function MonteOMapa() {
            var meuEndereco = new google.maps.LatLng(-22.905895419011326, -43.17685031645948);
            var mapOptions = {
                center: meuEndereco,
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("mapDiv"), mapOptions);
            return map;
        }
    </script>
</body>
</html>
